<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Invoice from Company</title>
 		<link rel="stylesheet" href="style.css" >   
</head>

<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2" class="title">
                  <img src="logo.png" style="width:100%; max-width:200px;">
                </td>
                <td class="right">
                                Invoice #: {{ meta["invoice_number"] }}<br>
                                Created: {{ meta["created_date"] }}<br>
                                Due: {{ meta["due_date"] }}
                </td>
                 
   
    
            </tr>
            
            <tr class="information">
                <td colspan="2">
                                Company Corp<br>
                                123 Fake St.<br>
                                City, ST 12345
                            </td>
                            <td class="right">
                                {{ meta["client_name"] }}<br>
                                {{ meta["care_of"] }}<br>
                                {{ meta["care_of_email"] }}
                            </td>
            </tr>
            
            <tr class="heading">
                <td>
                    Payment Method
                </td>
                
                <td colspan="2">
                    Details
                </td>
            </tr>
            
            <tr class="details">
                <td>
                    {{ meta["payment_method"] }}
                </td>
                
                <td colspan="2">
                    {{ meta["payment_method_details"] }}
                </td>
            </tr>
            
            <tr class="heading">
                <td>
                    Item
                </td>
                
                <td class="right">
                    Hours
                </td>
								<td class="right">
										Rate
								</td>
            </tr>
            
 						{% for item in items %}	
            <tr class="item">
					    <td>{{ item["name"] }}</td>
							<td class="right">{{ item["hours"] }}</td>
							<td class="right">{{ "$%.2f"|format(item["rate"]) }}</td>
						</tr>
						{% endfor %}          
            <tr class="total">
                <td></td>
                <td class="right">Total:</td>
                <td class="right">
                   {{ "$%.2f"|format(total) }}
                </td>
            </tr>
        </table>
				<div class="notes">
						
				</div>
    </div>
</body>
</html>

